@charset "UTF-8";
/* ---------------------------------------------
  reset
--------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* 解析タグの隙間対策 */
body > img {
  display: none;
}

.lp_main div, .lp_main span, .lp_main iframe, .lp_main h1, .lp_main h2, .lp_main h3, .lp_main h4, .lp_main h5, .lp_main h6, .lp_main p, .lp_main address, .lp_main img, .lp_main small, .lp_main strong, .lp_main sub, .lp_main sup, .lp_main dl,
.lp_main dt, .lp_main dd, .lp_main ol, .lp_main ul, .lp_main form, .lp_main label, .lp_main table, .lp_main caption, .lp_main tbody, .lp_main tfoot, .lp_main thead, .lp_main tr, .lp_main th, .lp_main td, .lp_main article,
.lp_main aside, .lp_main footer, .lp_main header, .lp_main menu, .lp_main nav, .lp_main section, .lp_main video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: baseline;
  background: transparent;
}
.lp_main article, .lp_main aside, .lp_main details, .lp_main figcaption, .lp_main figure,
.lp_main footer, .lp_main header, .lp_main menu, .lp_main nav, .lp_main section {
  display: block;
}
.lp_main ol, .lp_main ul {
  list-style: none;
}
.lp_main :focus {
  outline: 0;
}
.lp_main table {
  border-collapse: collapse;
  border-spacing: 0;
}
.lp_main *,
.lp_main *::before,
.lp_main *::after {
  box-sizing: border-box;
}
.lp_main img {
  display: block;
  height: auto;
  vertical-align: bottom;
  width: 100%;
  max-width: 100%;
}
.lp_main svg,
.lp_main video {
  width: 100%;
  height: auto;
}


/* ---------------------------------------------
  common
--------------------------------------------- */
/* スムーススクロール */
html {
  scroll-behavior: smooth;
}

.lp_main {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, "Meiryo UI", Avenir, "Open Sans", Helvetica, "Helvetica Neue", Arial, Verdana, Roboto, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
}

/* ---------------------------------------------
 アイコン
--------------------------------------------- */
/* アイコン くの字 */
.lp_main .el_icnArrow {
  position: absolute;
  top: 50%;
  right: 6%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
  display: block;
  width: min(calc((20 / 750) * 100vw),20px);
  height: min(calc((20 / 750) * 100vw),20px);
  border-bottom: solid min(calc((4 / 750) * 100vw),4px) #fff;
  border-right: solid min(calc((4 / 750) * 100vw),4px) #fff;
}

/* アイコン プラス */
.lp_main .el_icnPlus {
  display: flex;
  position: absolute;
  top: 31%;
  right: 3%;
  width: 5%;
  height: 38%;
  align-items: center;
  justify-content: center;
}
.lp_main .el_icnPlus::before,
.lp_main .el_icnPlus::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
}
.lp_main .el_icnPlus::before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}


/* ---------------------------------------------
 アコーディオン
--------------------------------------------- */
.lp_main .bl_accordion {
  width: calc(690 / 750 * 100%);
  margin: 0 auto;
}
.lp_main .bl_accordion_contents {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
}
.lp_main .bl_accordion_contents.is_visible {
  max-height: 3000px;
}

.lp_main .bl_accordion_btn {
  position: relative;
  cursor: pointer;
}
.lp_main .bl_accordion_btn.is_active .el_icnArrow {
  -webkit-transform: translate(0, 0) rotate(-135deg);
  transform: translate(0, 0) rotate(-135deg);
}
.lp_main .bl_accordion_btn.is_active .el_icnPlus::before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}



/* ---------------------------------------------
  utility
--------------------------------------------- */
/* positionで配置したい要素の外側に使用 */
.lp_main .hp_relative {
  position: relative;
}


/* ---------------------------------------------
  fv
--------------------------------------------- */

.lp_main .fv_apology {
  padding: 1.25rem !important;
}

.lp_main .fv_main , .fv_cv , .fv_review{
  position: relative !important;
}

.lp_main .fv_circle {
  position: absolute ;
  width: calc(272/750*100%);
}

.lp_main .fv_brand-1, .lp_main .fv_brand-2{
  top: calc(560/2883*100%);
}

.lp_main .fv_brand-1 {
  right: calc(258/750*100%);
}

.lp_main .fv_brand-2 {
  right: calc(8/750*100%);
}

.lp_main .fv_brand-3 {
  top: calc(798/2883*100%);
  right: calc(140.8/750*100%);
}


/* --------------fv_test-------------- */
.lp_main .fv_test {
  /* margin-top: -527px; */
  margin-top: max(calc((-527/750)*100vw), -527px);
  margin-inline: calc(20/750*100%) ;
  position: relative;
}

/* -----------------fv_cv-------------- */

.lp_main .fv_cv_btc {  
  position: absolute;
  width: calc(687/750*100%);  
  margin: auto;
  top: calc(900/3560*100%);
  left: calc(32/750*100%);
}

.lp_main .fv_txt {
  color: #000;
  position: absolute;
  width: auto;
  top: calc(900/3560*100%);
  z-index: 100;
}


.fv_cv_gif {
  position: absolute;
}


/* -------------fv_compare----------- */

.lp_main .fv_compare_top {
  margin-bottom: calc(56/1419.75*100%);
}

.lp_main .fv_compare_btc {
  width: calc(441/750*100%);
  margin: min(calc((50 / 750) * 100vw),50px) auto;
}


/* -------------reviews---------------------- */

.lp_main .reviews {
  width: calc(193/750*100%);
  position: absolute;  
}

.lp_main .review_1 {
  top: calc(1336/2980*100%);
  right: calc(24/750*100%);
}

.lp_main .review_2 {
  top: calc(1280/2980*100%);
  left: calc(32/750*100%);
}

.lp_main .review_3 {
  top: calc(1520/2980*100%);
  left: calc(16/750*100%);
}

.lp_main .fv_instagram {
  margin-top: max(calc((-800/750)*100vw), -800px);
}




/* ---------------------------------------------
  advert
--------------------------------------------- */

.advert_top, .advert_magazine, .advert_letter{
  position: relative;
}


.lp_main .advert_product {
  position: absolute;
  top: calc(768/1977.72*100%);
  width: calc(247/750*100%);
}

.lp_main .advert_mini {
  margin-top: max(calc((-208/750)*100vw), -208px);
}


.lp_main .advert_model {
  margin-top: max(calc((-128/750)*100vw), -128px);
  position: relative;
}


/* ------------advert_me--------------- */

.lp_main .advert_me {
  margin-top: max(calc((-80/750)*100vw), -80px);
  position: relative;
}

.me_title, .me_screen-1, .me_screen-2{
  position: absolute;
}

.lp_main .me_title {
  width: calc(498/750*100%);
  top: calc(320/5897*100%);
}

.lp_main .me_screen-1 {
  width: calc(552/750*100%);
  top: calc(1760/5897*100%);
  left: calc(100/750*100%);
}

.lp_main .me_screen-2 {
  width: calc(630/750*100%);
  top: calc(3808/5897*100%);
  left: calc(60/750*100%);
}

/* -----------advert_infiltration------------- */


.lp_main .advert_infiltration {
  margin-top: max(calc((-96/750)*100vw), -96px);
  position: relative;
}

.lp_main .advert_face {
  margin-top: max(calc((-144/750)*100vw), -144px);
  position: relative;
}

/* ------------letters--------------------- */

.lp_main .letter_1 {
  width: calc(678/750*100%);
  top: calc(1184/4105*100%);
  position: absolute;
  left: calc(37/750*100%);
}

.lp_main .letter_2 {
  width: calc(690/750*100%);
  top: calc(1600/4105*100%);
  position: absolute;
  left: calc(37/750*100%);
}

.lp_main .letter_3 {
  width: calc(692/750*100%);
  top: calc(2768/4105*100%);
  position: absolute;
  left: calc(37/750*100%);
}

.lp_main .advert_methods {
  margin-top: max(calc((-80/750)*100vw), -80px) ;
  margin-bottom: max(calc((-48/750)*100vw), -48px);
  margin-inline: 0;
  position: relative;
}


/* ---------------------------------------------
  advert
--------------------------------------------- */


.invoice {
  margin: 3rem 0 !important;
}



/* ---------------------------------------------
  footer
--------------------------------------------- */

.content_FAQ {
  display: flex;
  background-color: #f1f2f3 !important;
  justify-content: center;
}

.FAQ_item {
  margin-bottom: 3.25rem;
  padding-inline: 2.5rem;
}
.FAQ_question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  
  position: relative;
  background-color: #e16792;
  color: #fff;
  padding: 1.125rem 1.25rem 1.0625rem;
  font-size: 1.375rem;  
  font-weight: 600;
}
.FAQ_question-icon {
  color: #e16792;  
  background-color: #fff;  
  display: flex;  
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.125rem;
  max-width: 2.1875rem;
  width: 100%;
  height: 2.1875rem;
  border-radius: 50%;
}
.FAQ_question-mark::before, .FAQ_question-mark::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.1875rem;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 50%;
  right: 2.3125rem;
}
.FAQ_question-mark::before {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.FAQ_question.selected .FAQ_question-mark::before {
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}
.FAQ_question.selected .FAQ_question-mark::after {
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}
.FAQ_answer {
  display: none;
  padding: 1.125rem 1.25rem 1.0625rem;
}
.FAQ_answer-icon {
  color: #fff;
  background-color: #e16792;
  max-width: 2.1875rem;
  width: 100%;
  height: 2.1875rem;
  border-radius: 50%;  
  display: flex; 
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.125rem;
  font-size: 1.375rem;  
  font-weight: 600;
}
.main_FAQ_answer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.FAQ_answer-txt {
  font-size: 1.125rem;
  line-height: 1.7777777778;
  letter-spacing: 0.04em;
  font-weight: 600;
}
.FAQ_answer-link {  
  font-size: 1.125rem;  
  font-weight: 600;  
}

dd {
  margin-inline-start: 0;
}